<div class="pride-feature-shop-template--container">
    <div class="pride-feature-shop--wrapper">
        <div class="featured-collection--wrapper">
            <span>{{ section.settings.collection-featured-copy }}</span>
            <div class="collection-container">
                {% for block in section.blocks %}
                    <div class="product--box">
                        <img
                            class="variant-featured-image"
                            loading="lazy"
                            src="{{ block.settings.image | img_url: '280x280' }}"
                            srcset="{{ block.settings.image | img_url: '280x280' }} 1x, {{ block.settings.image | img_url: '560x560', scale: 2 }} 2x"
                            alt="{{ block.settings.title }}"
                        >
                        <h6>{{ block.settings.title }}</h6>
                        <span class="price">{{ block.settings.price }}</span>
                        <a href="{{ block.settings.link }}">
                            <svg class="black-shop-now" width="106" height="20" viewBox="0 0 106 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.008 16.192C4.12267 16.192 3.264 16.0747 2.432 15.84C1.61067 15.5947 0.949333 15.28 0.448 14.896L1.328 12.944C1.808 13.296 2.37867 13.5787 3.04 13.792C3.70133 14.0053 4.36267 14.112 5.024 14.112C5.76 14.112 6.304 14.0053 6.656 13.792C7.008 13.568 7.184 13.2747 7.184 12.912C7.184 12.6453 7.07733 12.4267 6.864 12.256C6.66133 12.0747 6.39467 11.9307 6.064 11.824C5.744 11.7173 5.30667 11.6 4.752 11.472C3.89867 11.2693 3.2 11.0667 2.656 10.864C2.112 10.6613 1.64267 10.336 1.248 9.888C0.864 9.44 0.672 8.84267 0.672 8.096C0.672 7.44533 0.848 6.85867 1.2 6.336C1.552 5.80267 2.08 5.38133 2.784 5.072C3.49867 4.76267 4.368 4.608 5.392 4.608C6.10667 4.608 6.80533 4.69333 7.488 4.864C8.17067 5.03467 8.768 5.28 9.28 5.6L8.48 7.568C7.44533 6.98133 6.41067 6.688 5.376 6.688C4.65067 6.688 4.112 6.80533 3.76 7.04C3.41867 7.27467 3.248 7.584 3.248 7.968C3.248 8.352 3.44533 8.64 3.84 8.832C4.24533 9.01333 4.85867 9.19467 5.68 9.376C6.53333 9.57867 7.232 9.78133 7.776 9.984C8.32 10.1867 8.784 10.5067 9.168 10.944C9.56267 11.3813 9.76 11.9733 9.76 12.72C9.76 13.36 9.57867 13.9467 9.216 14.48C8.864 15.0027 8.33067 15.4187 7.616 15.728C6.90133 16.0373 6.032 16.192 5.008 16.192ZM17.2271 7.264C18.2938 7.264 19.1525 7.584 19.8031 8.224C20.4645 8.864 20.7951 9.81333 20.7951 11.072V16H18.2991V11.456C18.2991 10.7733 18.1498 10.2667 17.8511 9.936C17.5525 9.59467 17.1205 9.424 16.5551 9.424C15.9258 9.424 15.4245 9.62133 15.0511 10.016C14.6778 10.4 14.4911 10.976 14.4911 11.744V16H11.9951V4.128H14.4911V8.288C14.8218 7.95733 15.2218 7.70667 15.6911 7.536C16.1605 7.35467 16.6725 7.264 17.2271 7.264ZM27.8874 16.128C26.9807 16.128 26.1647 15.9413 25.4394 15.568C24.7247 15.184 24.1647 14.656 23.7594 13.984C23.354 13.312 23.1514 12.5493 23.1514 11.696C23.1514 10.8427 23.354 10.08 23.7594 9.408C24.1647 8.736 24.7247 8.21333 25.4394 7.84C26.1647 7.456 26.9807 7.264 27.8874 7.264C28.794 7.264 29.6047 7.456 30.3194 7.84C31.034 8.21333 31.594 8.736 31.9994 9.408C32.4047 10.08 32.6074 10.8427 32.6074 11.696C32.6074 12.5493 32.4047 13.312 31.9994 13.984C31.594 14.656 31.034 15.184 30.3194 15.568C29.6047 15.9413 28.794 16.128 27.8874 16.128ZM27.8874 14.08C28.5274 14.08 29.05 13.8667 29.4554 13.44C29.8714 13.0027 30.0794 12.4213 30.0794 11.696C30.0794 10.9707 29.8714 10.3947 29.4554 9.968C29.05 9.53067 28.5274 9.312 27.8874 9.312C27.2474 9.312 26.7194 9.53067 26.3034 9.968C25.8874 10.3947 25.6794 10.9707 25.6794 11.696C25.6794 12.4213 25.8874 13.0027 26.3034 13.44C26.7194 13.8667 27.2474 14.08 27.8874 14.08ZM40.0037 7.264C40.8037 7.264 41.5291 7.45067 42.1797 7.824C42.8411 8.18667 43.3584 8.704 43.7317 9.376C44.1051 10.0373 44.2917 10.8107 44.2917 11.696C44.2917 12.5813 44.1051 13.36 43.7317 14.032C43.3584 14.6933 42.8411 15.2107 42.1797 15.584C41.5291 15.9467 40.8037 16.128 40.0037 16.128C38.9051 16.128 38.0411 15.7813 37.4117 15.088V19.104H34.9157V7.392H37.2997V8.384C37.9184 7.63733 38.8197 7.264 40.0037 7.264ZM39.5717 14.08C40.2117 14.08 40.7344 13.8667 41.1397 13.44C41.5557 13.0027 41.7637 12.4213 41.7637 11.696C41.7637 10.9707 41.5557 10.3947 41.1397 9.968C40.7344 9.53067 40.2117 9.312 39.5717 9.312C38.9317 9.312 38.4037 9.53067 37.9877 9.968C37.5824 10.3947 37.3797 10.9707 37.3797 11.696C37.3797 12.4213 37.5824 13.0027 37.9877 13.44C38.4037 13.8667 38.9317 14.08 39.5717 14.08ZM62.2219 4.8V16H60.0939L54.5099 9.2V16H51.9499V4.8H54.0939L59.6619 11.6V4.8H62.2219ZM69.4317 16.128C68.5251 16.128 67.7091 15.9413 66.9837 15.568C66.2691 15.184 65.7091 14.656 65.3037 13.984C64.8984 13.312 64.6957 12.5493 64.6957 11.696C64.6957 10.8427 64.8984 10.08 65.3037 9.408C65.7091 8.736 66.2691 8.21333 66.9837 7.84C67.7091 7.456 68.5251 7.264 69.4317 7.264C70.3384 7.264 71.1491 7.456 71.8637 7.84C72.5784 8.21333 73.1384 8.736 73.5437 9.408C73.9491 10.08 74.1517 10.8427 74.1517 11.696C74.1517 12.5493 73.9491 13.312 73.5437 13.984C73.1384 14.656 72.5784 15.184 71.8637 15.568C71.1491 15.9413 70.3384 16.128 69.4317 16.128ZM69.4317 14.08C70.0717 14.08 70.5944 13.8667 70.9997 13.44C71.4157 13.0027 71.6237 12.4213 71.6237 11.696C71.6237 10.9707 71.4157 10.3947 70.9997 9.968C70.5944 9.53067 70.0717 9.312 69.4317 9.312C68.7917 9.312 68.2637 9.53067 67.8477 9.968C67.4317 10.3947 67.2237 10.9707 67.2237 11.696C67.2237 12.4213 67.4317 13.0027 67.8477 13.44C68.2637 13.8667 68.7917 14.08 69.4317 14.08ZM90.0498 7.392L86.9298 16H84.5298L82.5938 10.656L80.5938 16H78.1938L75.0898 7.392H77.4418L79.4738 13.216L81.5858 7.392H83.6978L85.7458 13.216L87.8418 7.392H90.0498Z" fill="#373639"/>
                                <path d="M100 8L104 12L100 16" stroke="black" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                            <svg class="pride-shop-now" width="106" height="20" viewBox="0 0 94 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.382 14.168C3.60733 14.168 2.856 14.0653 2.128 13.86C1.40933 13.6453 0.830667 13.37 0.392 13.034L1.162 11.326C1.582 11.634 2.08133 11.8813 2.66 12.068C3.23867 12.2547 3.81733 12.348 4.396 12.348C5.04 12.348 5.516 12.2547 5.824 12.068C6.132 11.872 6.286 11.6153 6.286 11.298C6.286 11.0647 6.19267 10.8733 6.006 10.724C5.82867 10.5653 5.59533 10.4393 5.306 10.346C5.026 10.2527 4.64333 10.15 4.158 10.038C3.41133 9.86067 2.8 9.68333 2.324 9.506C1.848 9.32867 1.43733 9.044 1.092 8.652C0.756 8.26 0.588 7.73733 0.588 7.084C0.588 6.51467 0.742 6.00133 1.05 5.544C1.358 5.07733 1.82 4.70867 2.436 4.438C3.06133 4.16733 3.822 4.032 4.718 4.032C5.34333 4.032 5.95467 4.10667 6.552 4.256C7.14933 4.40533 7.672 4.62 8.12 4.9L7.42 6.622C6.51467 6.10867 5.60933 5.852 4.704 5.852C4.06933 5.852 3.598 5.95467 3.29 6.16C2.99133 6.36533 2.842 6.636 2.842 6.972C2.842 7.308 3.01467 7.56 3.36 7.728C3.71467 7.88667 4.25133 8.04533 4.97 8.204C5.71667 8.38133 6.328 8.55867 6.804 8.736C7.28 8.91333 7.686 9.19333 8.022 9.576C8.36733 9.95867 8.54 10.4767 8.54 11.13C8.54 11.69 8.38133 12.2033 8.064 12.67C7.756 13.1273 7.28933 13.4913 6.664 13.762C6.03867 14.0327 5.278 14.168 4.382 14.168ZM78.9166 6.468L76.1866 14H74.0866L72.3926 9.324L70.6426 14H68.5426L65.8266 6.468H67.8846L69.6626 11.564L71.5106 6.468H73.3586L75.1506 11.564L76.9846 6.468H78.9166Z" fill="#DA0000"/>
                                <path d="M15.0737 6.356C16.0071 6.356 16.7584 6.636 17.3277 7.196C17.9064 7.756 18.1957 8.58667 18.1957 9.688V14H16.0117V10.024C16.0117 9.42667 15.8811 8.98333 15.6197 8.694C15.3584 8.39533 14.9804 8.246 14.4857 8.246C13.9351 8.246 13.4964 8.41867 13.1697 8.764C12.8431 9.1 12.6797 9.604 12.6797 10.276V14H10.4957V3.612H12.6797V7.252C12.9691 6.96267 13.3191 6.74333 13.7297 6.594C14.1404 6.43533 14.5884 6.356 15.0737 6.356Z" fill="#FF7A00"/>
                                <path d="M24.3194 14.112C23.5261 14.112 22.8121 13.9487 22.1774 13.622C21.5521 13.286 21.0621 12.824 20.7074 12.236C20.3528 11.648 20.1754 10.9807 20.1754 10.234C20.1754 9.48733 20.3528 8.82 20.7074 8.232C21.0621 7.644 21.5521 7.18667 22.1774 6.86C22.8121 6.524 23.5261 6.356 24.3194 6.356C25.1128 6.356 25.8221 6.524 26.4474 6.86C27.0728 7.18667 27.5628 7.644 27.9174 8.232C28.2721 8.82 28.4494 9.48733 28.4494 10.234C28.4494 10.9807 28.2721 11.648 27.9174 12.236C27.5628 12.824 27.0728 13.286 26.4474 13.622C25.8221 13.9487 25.1128 14.112 24.3194 14.112ZM24.3194 12.32C24.8794 12.32 25.3368 12.1333 25.6914 11.76C26.0554 11.3773 26.2374 10.8687 26.2374 10.234C26.2374 9.59933 26.0554 9.09533 25.6914 8.722C25.3368 8.33933 24.8794 8.148 24.3194 8.148C23.7594 8.148 23.2974 8.33933 22.9334 8.722C22.5694 9.09533 22.3874 9.59933 22.3874 10.234C22.3874 10.8687 22.5694 11.3773 22.9334 11.76C23.2974 12.1333 23.7594 12.32 24.3194 12.32Z" fill="#FFBF3C"/>
                                <path d="M34.9213 6.356C35.6213 6.356 36.2559 6.51933 36.8253 6.846C37.4039 7.16333 37.8566 7.616 38.1833 8.204C38.5099 8.78267 38.6733 9.45933 38.6733 10.234C38.6733 11.0087 38.5099 11.69 38.1833 12.278C37.8566 12.8567 37.4039 13.3093 36.8253 13.636C36.2559 13.9533 35.6213 14.112 34.9213 14.112C33.9599 14.112 33.2039 13.8087 32.6533 13.202V16.716H30.4693V6.468H32.5553V7.336C33.0966 6.68267 33.8853 6.356 34.9213 6.356ZM34.5433 12.32C35.1033 12.32 35.5606 12.1333 35.9153 11.76C36.2793 11.3773 36.4613 10.8687 36.4613 10.234C36.4613 9.59933 36.2793 9.09533 35.9153 8.722C35.5606 8.33933 35.1033 8.148 34.5433 8.148C33.9833 8.148 33.5213 8.33933 33.1573 8.722C32.8026 9.09533 32.6253 9.59933 32.6253 10.234C32.6253 10.8687 32.8026 11.3773 33.1573 11.76C33.5213 12.1333 33.9833 12.32 34.5433 12.32Z" fill="#5FB819"/>
                                <path d="M54.3621 4.2V14H52.5001L47.6141 8.05V14H45.3741V4.2H47.2501L52.1221 10.15V4.2H54.3621Z" fill="#0085FF"/>
                                <path d="M60.6708 14.112C59.8774 14.112 59.1634 13.9487 58.5288 13.622C57.9034 13.286 57.4134 12.824 57.0588 12.236C56.7041 11.648 56.5268 10.9807 56.5268 10.234C56.5268 9.48733 56.7041 8.82 57.0588 8.232C57.4134 7.644 57.9034 7.18667 58.5288 6.86C59.1634 6.524 59.8774 6.356 60.6708 6.356C61.4641 6.356 62.1734 6.524 62.7988 6.86C63.4241 7.18667 63.9141 7.644 64.2688 8.232C64.6234 8.82 64.8008 9.48733 64.8008 10.234C64.8008 10.9807 64.6234 11.648 64.2688 12.236C63.9141 12.824 63.4241 13.286 62.7988 13.622C62.1734 13.9487 61.4641 14.112 60.6708 14.112ZM60.6708 12.32C61.2308 12.32 61.6881 12.1333 62.0428 11.76C62.4068 11.3773 62.5888 10.8687 62.5888 10.234C62.5888 9.59933 62.4068 9.09533 62.0428 8.722C61.6881 8.33933 61.2308 8.148 60.6708 8.148C60.1108 8.148 59.6488 8.33933 59.2848 8.722C58.9208 9.09533 58.7388 9.59933 58.7388 10.234C58.7388 10.8687 58.9208 11.3773 59.2848 11.76C59.6488 12.1333 60.1108 12.32 60.6708 12.32Z" fill="#5F19B8"/>
                                <path d="M88 5L92 9L88 13" stroke="#FF7A00" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="featured-image--wrapper">
            <img
                loading="lazy"
                src="{{ section.settings.featured-image | img_url: '480x200' }}"
                srcset="{{ section.settings.featured-image | img_url: '480x200' }} 1x, {{ section.settings.featured-image | img_url: '960x400', scale: 2 }} 2x" 
                alt="Shop hooks, yarn, and more, or check out our free patterns to make something fabulous for Pride!"
            >
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Shop Feature - Pride",
    "class": "pride-feature-shop-template",
    "settings": [
        {
            "type": "text",
            "id": "collection-featured-copy",
            "label": "Collection featured copy",
            "default": "Showing 2 of 2 products"
        },
        {
            "type": "image_picker",
            "id": "featured-image",
            "label": "Featured Image"
        }
    ],
    "blocks": [
        {
            "type": "Product",
            "name": "Variant",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Featured Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "price",
                    "label": "Price"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Url"
                }   
            ]
        }  
    ]
}
{% endschema %}
<style>
    .pride-feature-shop-template--container {
        padding: 69px 0 92px;
    }
    .pride-feature-shop--wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .pride-feature-shop--wrapper > span {
        color: #8B8B8B;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
    }
    .pride-feature-shop--wrapper .collection-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 25px;
    }
    .pride-feature-shop--wrapper .collection-container .product--box {
        display: flex;
        flex-direction: column;
    }
    .pride-feature-shop--wrapper .collection-container .product--box:first-of-type {
        margin-right: 24px;
    }
    .pride-feature-shop--wrapper .collection-container .product--box h6 {
        color: #373639;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.04em;
        line-height: 15px;
        margin: 12px 0 5px;
        padding: 0;
    }
    .pride-feature-shop--wrapper .collection-container .product--box .price {
        color: #373639;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.04em;
        line-height: 20px;
        margin: 0 0 20px;
        padding: 0;
    }
    .pride-feature-shop--wrapper .collection-container .product--box a {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    .pride-feature-shop--wrapper .collection-container .product--box a .pride-shop-now {
        display: none;
    }
    .pride-feature-shop--wrapper .collection-container .product--box a:hover .black-shop-now {
        display: none;
        transition-duration: 0.5s;
    }
    .pride-feature-shop--wrapper .collection-container .product--box a:hover .pride-shop-now {
        display: block;
        transition-duration: 0.5s;
    }
    @media screen and (max-width: 768px) {
        .pride-feature-shop-template {
            padding: 0 !important;
        }
        .pride-feature-shop-template--container {
            padding: 40px 0 49px;
        }
        .pride-feature-shop--wrapper {
            flex-direction: column;
        }
        .pride-feature-shop--wrapper .collection-container .product--box:first-of-type {
            margin-right: 12px;
        }
        .pride-feature-shop--wrapper .collection-container .product--box .variant-featured-image {
            height: 152px;
            width: 152px;
        }
        .pride-feature-shop--wrapper .collection-container .product--box h6 {
            font-size: 12px;
            line-height: 16px;
            max-width: 152px;
        }
        .pride-feature-shop--wrapper .collection-container .product--box .price {
            margin-bottom: 14px;
        }
        .pride-feature-shop--wrapper .featured-image--wrapper {
            margin-top: 36px;
        }
        .pride-feature-shop--wrapper .featured-image--wrapper img {
            width: 316px;
        }
    }
</style>
